# Backbone V3 — isi dari NK Pusdatin
# Juknis:2 Authentication URL & Base URL (perhatikan kemendikdasmen vs kemdikbud di Collection.json:2431)
BASE_URL=https://api.data.kemendikdasmen.go.id/svc/satu-data/pendidikan/v3
BASE_URL_LOGIN=https://api.data.kemendikdasmen.go.id/svc/satu-data/auth/v1
USERNAME=
PASSWORD=
API_KEY=
